{% extends "base/template_base.html" %}

{% block title %} Membresias adicionales {% endblock %}

{% block contenido %}
<div class="separador-slider visible-desktop"></div>
	<div class="container">
	    <div class="row">
	    	<div class="span3">
                <div id="cont_perfil">
                    <div id="perfil_info">
                        <div id="img_perfil">
                            <img src=" {{ STATIC_URL }}images/user.png " alt="">
                        </div>
                        <div id="nombre_perfil">
                           {{user.get_full_name}} 
                            <a href="" title="">Editar</a> 
                        </div>
                    </div>
                    <div id="menu_perfil">
                        <ul class="nav nav-tabs nav-stacked">
                            <li><a href=" {% url citas_view %} " class="citas ">Citas</a></li>
                            <li><a href=" {% url calendario_cita %} " class="calendario">Calendario de Citas</a></li>
                            <li><a href=" {% url ver_referidos %} " class="membresia activo">Miembros Adicionales</a></li>
                            <li><a href="#" class="servicio">Servicios Externos</a></li>
                            <li><a href=" {% url actividades_view %} " class="actividad">Actividades</a></li>
                            <li><a href=" {% url menores_edad_view %} " class="menores">Menores de edad</a></li>
                        </ul>
                    </div>
                </div>
	    	</div>
	        <div class="span9">
                <h1 class="mod-head"><span>Membresías Adicionales</span></h1>
                <div>
                  <div id="cont_form_accion">
                    <span>Membresias:  {{objRel|length}} de 9</span>
                  </div>
	        	  
                  
                    <a id="btnCompra" class="btn btn-danger pull-right" href=" {% url compra_referido_view %} ">Comprar membresias adicionales</a>
                    <select style="margin-right:10px;" class="pull-right" name="num_mem" id="id_num_mem">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>

                </div>
            	<hr>

			<table class="table table-hover">
	            <thead>
	                <tr>
                    <th>Membresía</th>
                      <th>Fecha Compra</th>
	                  <th>Pagada</th>
	                  <th>Activa</th>
	                  <th>Nombre Completo Referido</th>
                    </tr>
	            </thead>
	            <tbody>

                {% for r in objRel  %}
                <tr>
                	<td>
                     <span>{{r.mem_referido}}</span>   
                    </td>
                    <td>
                        <span>
                            {{r.mem_referido.fecha_registro|date:"D d M Y"}}
                        </span>
                    </td>
                    <td>

                		{% if r.mem_referido.pagada %}
                            <span class="confirmada msg_" title="Membresia Pagada">
                                <img src="{{ STATIC_URL }}images/check.png" width="" heigth="" alt="">
                            </span>
                        {% else %}
                            <span class="no_confirmada msg_" title="Membresia no Pagada">
                                <img src="{{ STATIC_URL }}images/no_check.png" width="" heigth="" alt="">
                            </span>
                        {% endif %}

                	</td>
                	<td>
                		{% if r.mem_referido.activa %}
            				<span class="confirmada msg_" title="Membresia Activa">
            					<img src="{{ STATIC_URL }}images/check.png" width="" heigth="" alt="">
            				</span>
            			{% else %}
							<span class="no_confirmada msg_" title="Membresia Inactiva">
            					<img src="{{ STATIC_URL }}images/no_check.png" width="" heigth="" alt="">
            				</span>
                		{% endif %}
                		
                	</td>
                	<td>
                		<span> {{ r.mem_referido.nombre|upper }} {{ r.mem_referido.apellido_paterno|upper }} {{ r.mem_referido.apellido_materno|upper }} </span>
                	</td>
                </tr>
	        
	        	{% endfor %}
	            </tbody>
            </table>

	        	
	        </div>
		</div>
	</div>
</div>


{% endblock contenido %}

{% block extra_js %}
<script>
function enviaCompra(e){
    e.preventDefault();
    var num = $("#id_num_mem").val();
    



}

function inicio()
{
    $("#btnCompra").on("click",enviaCompra);
}

$(document).on("ready",inicio);

</script>
{% endblock extra_js %}
