{% extends "base/template_base.html" %}

{% block title %} Contact Form {% endblock %}

{% block contenido %}
	<div class="separador-slider visible-desktop"></div>
	<div class="container">
	    <div class="row">
	        <div class="span12">
	        	<h1 class="mod-head"><span>Login</span></h1>
<br><br>
				<form action="." method="POST">
					{% csrf_token %}
					{{ msg }}
					{{ form.as_p }}
					<div class="set">
					<a class="forgot" href="#">Forgot your password?</a>
					<a class="register" href="#">Register</a>
				</div>
					<input class="submit" type="submit" value="Login">
					<input type="hidden" name="next" value="{{ next|escape }}" >
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock contenido %}

