<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">

        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
        <!-- LayerSlider styles -->
        <link rel="stylesheet" href="{{ STATIC_URL }}layerslider/css/layerslider.css" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        {% block extra_css %}{% endblock extra_css %}

        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                   <div id="menus">
                    <div class="menu-top">
                        {% if user.is_authenticated %}
                        <a href=" {% url citas_view %} ">Panel de control</a>
                        <a class="noline" href = " {% url logout_liga_view %} ">Logout</a>
                        {% else %}
                        <a href="{% url tipo_mem_view %}">Compra Membresía CallCenter</a> 
                        <a href="{% url inicio_membresia_view %}">Activa</a>
                        <a class="noline" href="{% url view_login %} ">Login</a>
                        {% endif %}

                    </div>
                    <div class="toolbar hidden-phone">
                        <!--<a href="#"><img src="{{ STATIC_URL }}images/toolbar-1.png"</a>-->
                        <a href="#"><img src="{{ STATIC_URL }}images/toolbar-2.png"></a>
                        <a href="{% url view_login %} "><img src="{{ STATIC_URL }}images/toolbar-3.png"></a>
                        
                    </div>
                </div>
                    <div class="toolbar visible-phone">
                        <!--<a href="#">Chat de Soporte</a>-->
                        <a href="{% url registro_usuarios_view %} ">Crea tu cuenta</a>
                        <a href="{% url view_login %} ">Ingreso</a>
                        
                    </div>

                    
                    <a class="logo visible-desktop" href="{% url vista_inicio %}"><img src="{{ STATIC_URL }}images/logo-24access.jpg"</a>
                    <a class="logo visible-tablet visible-phone" href="{% url vista_inicio %}"><img src="{{ STATIC_URL }}images/logo-tablet.png"></a>
                    

                    <div class="telefono hidden-desktop">
                        <p>01 800 123 4567</p>
                    </div>

                    <div class="menumain visible-desktop">
                        <ul class="nav">
                         <li><a href="{% url vista_inicio %}">Inicio</a></li>   
                        
                        {% load flatpages %}
                        {% get_flatpages as flatpages %}
                        {% for page in flatpages %}
                                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                        <li><a href="{% url contact_view %}">Contacto</a></li>
                        </ul>
                    </div>

                    <div class="telefono visible-desktop">
                        <p>01 800 123 4567</p>
                    </div>

                    <div class="menumain hidden-desktop">
                        <ul class="nav">
                            {% get_flatpages as flatpages %}
                            {% for page in flatpages %}
                                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                            {% endfor %}
                            <li><a href="{% url contact_view %}">Contacto</a></li>
                        </ul>
                    </div>                    

                    
                </div>
            </div>
        </div>


{% block contenido %}{% endblock contenido %}

    

        <div class="container">

            <div class="row">
                <div class="span12 alianzas">
                    <h3 class="mod-head">Alianzas</h3>
                    <img class="visible-desktop" src="{{ STATIC_URL }}images/alianzas.png">
                    <img class="hidden-desktop" src="{{ STATIC_URL }}images/alianzas-tablet.png">
                </div>    
            </div>

        </div>



            <hr class="divisor">

        <div class="container">

            <!-- Example row of columns -->
            <div class="row footer">
                <div class="span3">
                    
                    <div class="news-box row">
                      <div class="span3">
                        <h3 class="newsletter">Newsletter</h3>
                        
                             <form class="row">
                                    <input type="text" class="span3" placeholder="Correo Electrónico">
                                    <button type="submit" class="btn btn-danger btn-mini span1">Enviar</button>
                             </form>   
                        
                      </div>
                    </div>
                </div>

                <div class="span3">
                    <h3 class="mod-head">Menú</h3>
                        <ul class="nav">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Quiénes Somos</a></li>
                            <li><a href="#">Beneficios</a></li>                            
                            <li><a href="#">Alianzas</a></li>
                            <li><a href="#">Hospitales</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                </div>
                <div class="span3">
                    <h3 class="mod-head">Soporte</h3>
                        <ul class="nav">
                            <li><a href="#">Membresías</a></li>
                            <li><a href="#">Ayuda</a></li>
                            <li><a href="#">Preguntas Frecuentes</a></li>
                            <li><a href="#">Términos Legales</a></li>
                            <li><a href="#">Tipos de pago</a></li>
                        </ul>
                </div>                
                <div class="span3">
                    <h3 class="mod-head">Contacto</h3>
                        <ul class="contacto">
                            <li>01 800 123 4567</li>
                            <p>Call Center</p>
                            <li>(55) 2312-2315</li>
                            <p>Call Center 2</p>
                            <li>(55) 2312-2315</li>
                        </ul>
                        <img src="{{ STATIC_URL }}images/redes-sociales.png">
                </div>                

                
            </div>

            <hr>

            <footer>
                <p>&copy; Company 2012</p>
            </footer>

        </div> <!-- /container -->
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
        <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.8.2.js"><\/script>')</script>
        <script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>

        {% block extra_js %}{% endblock extra_js %}

    </body>
</html>
