{% extends "base/template_base.html" %}

{% block title %} Actividades {% endblock %}

{% block contenido %}
<div class="separador-slider visible-desktop"></div>
	<div class="container">
	    <div class="row">
	    	<div class="span3">
                <div id="cont_perfil">
                    <div id="perfil_info">
                        <div id="img_perfil">
                            <img src=" {{ STATIC_URL }}images/user.png " alt="">
                        </div>
                        <div id="nombre_perfil">
                           {{user.get_full_name}} 
                            <a href="" title="">Editar</a> 
                        </div>
                    </div>
                    <div id="menu_perfil">
                        <ul class="nav nav-tabs nav-stacked">
                            <li><a href=" {% url citas_view %} " class="citas ">Citas</a></li>
                            <li><a href=" {% url calendario_cita %} " class="calendario">Calendario de Citas</a></li>
                            <li><a href=" {% url ver_referidos %} " class="membresia">Miembros Adicionales</a></li>
                            <li><a href="#" class="servicio">Servicios Externos</a></li>
                            <li><a href=" {% url actividades_view %} " class="actividad activo">Actividades</a></li>
                            <li><a href=" {% url menores_edad_view %} " class="menores">Menores de edad</a></li>
                        </ul>   
                    </div>
                </div>
	    	</div>
	        <div class="span9 act-log">

<div id="navegacion">
  <button id="btnMark" class="leido">Marcar como leido</button>
  
  <div id="cont_radio">
    <span class="pestana activo"><input checked="checked"  type="radio" name="filtro" value="0" class="rdo_filtro" >Leído</span>
    <span class="pestana" ><input type="radio" name="filtro" value="1" class="rdo_filtro" > No leído</span>
  </div>
</div>

	               <div class="listado-logs">
<table class="acti" width="100%" border="0">
<thead>
<tr>
    <th id="mCheck"> <input type="checkbox" id="main_check"> </th>
    <th scope="col">Mensaje</th>
    <th scope="col">Fecha</th>
    <th>Ver</th>
  </tr>
</thead>
<tbody id="cont_actividades_tr">
  {% for a in acts   %}
    <tr class="listado-log">
      <td width="5%"><input type="checkbox" class="cCheck" value="{{a.id}}"> </td>
      <td width="70%">{{a.descripcion|truncatewords:10}}</td>
      <td class="act-fecha" width="20%">{{a.fecha|date:"D d M Y P"}} </td>
      <td width="5%" > <a href=" {% url actividad_view a.id %} "><span class="ver_mas_act"></span></a></td>
    </tr>
  {% endfor %}
</tbody>
</table>
                   </div>
	        	
	        </div>
		</div>
	</div>
</div>


{% endblock contenido %}

{% block extra_js %}
<script type="text/javascript">
function selectAll()
{
    $(".cCheck").attr("checked",this.checked);
}
function put_ids()
{
  var values = $('input:radio:checked.cCheck').map(function () {
      return this.value;
  }).get(); 

for (var i = 0; i < values.length; i++) {
 alert(values[i]);
};

  alert(values);

}
function get_actividades()
{
  // $("#objectID").load("test.php", { 'choices[]': ["Jon", "Susan"] } );
  var input_ = $(this);
  $(".rdo_filtro").parent().removeClass("activo");
  input_.parent().addClass("activo");
}

function inicio()
{
  $("#btnMark").on("click",put_ids);
  $(".rdo_filtro").on("click",get_actividades); 
  $("#main_check").on("click",selectAll); 
}


$(document).on("ready",inicio);
</script>
{% endblock extra_js %}
