{% extends "base/template_base.html" %}

{% block title %} Citas {% endblock %}

{% block contenido %}
<div class="separador-slider visible-desktop"></div>
	<div class="container">
	    <div class="row">
	    	<div class="span3">
                <div id="cont_perfil">
                    <div id="perfil_info">
                        <div id="img_perfil">
                            <img src=" {{ STATIC_URL }}images/user.png " alt="">
                        </div>
                        <div id="nombre_perfil">
                           {{user.get_full_name}} 
                            <a href="" title="">Editar</a> 
                        </div>
                    </div>
                    <div id="menu_perfil">
                        <ul class="nav nav-tabs nav-stacked">
                            <li><a href="#" class="actividad">Actividades</a></li>
                            <li><a href="#" class="calendario">Calendario</a></li>
                            <li><a href="#" class="servicio">Servicios</a></li>
                            <li><a href=" {% url citas_view %} " class="citas">Citas</a></li>
                        </ul>   
                    </div>
                </div>
	    	</div>
	        <div class="span9">
	        	<br><br>
                <div>
                  <div id="cont_form_accion">
                        <form name="frmAccion" id="frmAccion" class="form-inline" action=" {% url accion_cita_view %} " method="post" accept-charset="utf-8">
                            {% csrf_token %}
                            <select name="accion" id="id_accion">
                                <option value="--">Selecciona una acción</option>
                                <option value="del">Eliminar</option>
                                <option value="edit">Modificar</option>
                                <option value="look">Ver información completa</option>
                            </select> 
                            <input type="submit" name="enviar" value="Hacer" class="btn" id="btnAccion">
                        </form>
                  </div>
	        	  

                  <a class="btn btn-danger pull-right" href=" {% url solicita_citas_view %} ">Solicita una cita</a>
                    
                </div>
            	<hr>

			<table class="table table-hover">
	            <thead>
	                <tr>
	                  <th>
                        <input id="sel_all" type="checkbox" name="citas" value="0">
                      </th>
                      <th>Membresía</th>
                      <th>Usuario</th>
	                  <th>Fecha Cita</th>
	                  <th>Confirmada</th>
	                  <th>Info Avión</th>
	                  <th>Estado</th>
	                  <th>Ver Info</th>
                    </tr>
	            </thead>
	            <tbody>

                {% for c in citas  %}
                <tr>
                    <td>
                        <input class="sel_check" type="checkbox" name="id_cita" value="{{c.id}}" form="frmAccion" >
                	</td>
                	<td>
                     <span>{{c.no_membresia}}</span>   
                    </td>
                    <td>
                        <span>
                            {{c.miembro}}
                        </span>
                    </td>
                    <td>
                		<span>{{c.fecha_cita|date}}</span>
                	</td>
                	<td>
                		{% if c.confirmada %}
            				<span class="confirmada msg_" title="Cita Confirmada">
            					<img src="{{ STATIC_URL }}images/check.png" width="" heigth="" alt="">
            				</span>
            			{% else %}
							<span class="no_confirmada msg_" title="Cita no confirmada">
            					<img src="{{ STATIC_URL }}images/no_check.png" width="" heigth="" alt="">
            				</span>
                		{% endif %}
                		
                	</td>
                	<td>
                		{% if c.info_vuelo %}
                			<span class='msg_'  title="{{ c.info_vuelo }} " >
                				<a class='vuelo_info'  href="{% url edita_vuelo c.id %}" >Confirmada</a>
                			</span>
                		{% else %}
                			<span class="msg_" title="Por favor ingrese la información del vuelo.">
                				<a   class="info_avion_add vuelo_info" href="{% url edita_vuelo c.id %}">Sin ingresar</a>
                			</span>
                		{% endif %}
                	</td>
                	<td>
                		{% if c.estado %}
            				<span class="confirmada msg_" title="Cita Activa">
            					<img  class="msg_" src="{{ STATIC_URL }}images/check.png" width="" heigth="" alt="">
            				</span>
            			{% else %}
							<span title="Cita inactiva o cancelada" class="no_confirmada msg_">
            					<img    src="{{ STATIC_URL }}images/no_check.png" width="" heigth="" alt="">
            				</span>
                		{% endif %}
                	</td>
            		 <td>
					 	<a href=" {% url ver_una_cita c.id %} "><img src="{{ STATIC_URL }}images/search.png " alt=""></a>
            		 </td>
			    </tr>
	        
	        	{% endfor %}
	            </tbody>
            </table>

	        	
	        </div>
		</div>
	</div>
</div>


{% endblock contenido %}

{% block extra_js %}

{% endblock extra_js %}