{% extends "base/template_base.html" %}

{% block title %} Actividad {% endblock %}

{% block contenido %}
<div class="separador-slider visible-desktop"></div>
	<div class="container">
	    <div class="row">
	    	<div class="span3">
                <div id="cont_perfil">
                    <div id="perfil_info">
                        <div id="img_perfil">
                            <img src=" {{ STATIC_URL }}images/user.png " alt="">
                        </div>
                        <div id="nombre_perfil">
                           {{user.get_full_name}} 
                            <a href="" title="">Editar</a> 
                        </div>
                    </div>
                    <div id="menu_perfil">
                        <ul class="nav nav-tabs nav-stacked">
                            <li><a href="#" class="actividad activo">Actividades</a></li>
                            <li><a href="#" class="calendario">Calendario</a></li>
                            <li><a href="#" class="servicio">Servicios</a></li>
                            <li><a href=" {% url citas_view %} " class="citas">Citas</a></li>
                            <li><a href=" {% url ver_referidos %} " class="membresia">Membresías Adicionales</a></li>
                        </ul>   
                    </div>
                </div>
	    	</div>
	        <div class="span9 act-log">

			<div class="listado-logs">
					<h4>Fecha y hora: <strong> <i>{{act.fecha|date:"D d M Y P"}}</i></strong> </h4>
					<p>{{act.descripcion}}</p>
					<hr>
					<a class="regresar" href=" {% url actividades_view %} ">Regresar</a>
			</div>
	        	
	        </div>
		</div>
	</div>
</div>


{% endblock contenido %}

{% block extra_js %}

{% endblock extra_js %}