{% extends "base/template_base.html" %}

{% block title %} Solicitar Cita {% endblock %}

{% block contenido %}
<div class="separador-slider visible-desktop"></div>
	<div class="container">
		<br><br>
		{% for c in citas  %}
			<div class="row">
				<div class="span12">
					<table class="table">
						{# <caption>test</caption> #}
						<thead>
							<tr>
								<th>Id</th>
								<th>Membresía</th>
                      			<th>Usuario</th>
								<th>Confirmada</th>
								<th>Estado</th>
								<th>Fecha</th>
								<th>Especialidad</th>
								<th>Otra Especialidad</th>
								<th>Motivos Cita</th>
							</tr>
						</thead>
						<tbody>
							<tr>
						<td> {{ c.id }}	</td>
						<td>
                     <span>{{c.no_membresia}}</span>   
                    </td>
                    <td>
                        <span>
                            {{c.miembro}}
                        </span>
                    </td>
						<td> 
						{% if c.confirmada %}
            				<span class="confirmada msg_" title="Cita Confirmada">
            					<img src="{{ STATIC_URL }}images/check.png" width="" heigth="" alt="">
            				</span>
            			{% else %}
							<span class="no_confirmada msg_" title="Cita no confirmada">
            					<img src="{{ STATIC_URL }}images/no_check.png" width="" heigth="" alt="">
            				</span>
                		{% endif %}
                		 </td>
                		 <td>
						{% if c.estado %}
            				<span class="confirmada msg_" title="Cita Activa">
            					<img  class="msg_" src="{{ STATIC_URL }}images/check.png" width="" heigth="" alt="">
            				</span>
            			{% else %}
							<span title="Cita inactiva o cancelada" class="no_confirmada msg_">
            					<img    src="{{ STATIC_URL }}images/no_check.png" width="" heigth="" alt="">
            				</span>
                		{% endif %}
                		 </td>
                		 <td>
							{% if c.confirmada %}
								<span class="label label-success">{{ c.fecha|date }}</span>
							{% else %}
								<span class="label">{{ c.fecha|date }}</span>	
							{% endif %}
                		 </td>
                		 <td>
                		 	<p>{{ c.especialidad_cita }}</p>
                		 </td>
                		 <td>
                		 	<p>{{ c.especialidad_cita_otra }}</p>
                		 </td>
                		 <td>
                		 	<p>{{ c.motivos_cita }}</p>
                		 </td>
						</tr>
						</tbody>
					</table>
					
					
				</div>					
				<hr>
			
			</div>
		{% endfor %}
	</div>
</div>
{% endblock contenido %}

{% block extra_js %}
	
{% endblock extra_js %}