{% extends "base/template_base.html" %}

{% block title %} Compra de Membresia {% endblock %}

{% block contenido %}
<div class="separador-slider visible-desktop"></div>
	<div class="container-fluid">
	    <div class="row-fluid">
        	<div class="span12">
        	<h1 class="mod-head"><span id="msg">Compra de membresia</span></h1>
        	</div>
        </div>
        	<div class="form-full">
        		<form class="form-horizontal" method='POST' action='.' name='frmCompraMembresia'>
        			<div class="row-fluid">
        			{% csrf_token %}
        			{{ frmSet.management_form }}
        			
        			{% for frm in frmSet.forms  %}
        				<div class="span5">
	        				{% if forloop.first %}
	        					<h4>Membresia Principal No {{forloop.counter}} </h4>
	        				{% else %}
	        					<h4>Membresia No {{forloop.counter}}</h4>
	        				{% endif %}
	        				<div class="mini_form_cont">
	        					{% for  f in  frm %}
		    						<div class="control-group {% if f.errors %}error{% endif %}">
		        						<label class="control-label">{{f.label_tag}}</label>
										<div class="controls">
		    								{{f}}
		    								{% if f.errors %}
		    									<span class="help-inline">{{f.errors}}</span>
		    								{% endif %}	    								
		    							</div>
		    						</div>
	        					{% endfor %}
	        				</div>        				
        				</div>
        			{% endfor %}

        			</div>
        			<div style='text-align:center;' class='btn-block'>
        				<input class="btn btn-large btn-danger" type="submit" value='Comprar membresías'>
        			</div>
        		</form>
			</div>
		
	</div>
</div>
{% endblock contenido %}
{% block extra_js %}
<script type="text/javascript">

	function inicio()
	{

	}

	$(document).on("ready",inicio);
</script>	
{% endblock extra_js %}
