{% extends "base/template_base.html" %}

{% block title %} Tipo de membresía {% endblock %}

{% block contenido %}
	<div class="separador-slider visible-desktop"></div>
	<div class="container cont-membresias">
		<h1 class="mod-head"><span>Tipo de membresias</span></h1>
	    <div class="row">
	   		
	   		<div class="span6 memb-block">
	   			<h3 class="ind">Personal</h3>
	   			<ul class="membresias-li">
	   				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	   				<li>Ut leo justo, ultricies quis faucibus in.</li>
	   				<li>Ut leo justo, ultricies quis faucibus in.</li>
	   				<li>Etiam tincidunt tristique libero vel tristique. Donec vel est ac odio elementum gravida.</li>
	   			</ul>
	   			<div class="row">
	   			<a href="/membresia.compra/seltipo/1" class="boton-membresias">Crear una cuenta</a>
	   			</div>
	   		</div>
	   		

	   		<div class="span6 memb-block">
	   			<h3 class="corp">Corporativa</h3>
	   				<ul class="membresias-li">
	   				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	   				<li>Ut leo justo, ultricies quis faucibus in.</li>
	   				<li>Etiam tincidunt tristique libero vel tristique. Donec vel est ac odio elementum gravida.</li>
	   				<li>Fusce tempus, magna id vestibulum hendrerit.</li>
	   			</ul>
	   			<div class="row">
	   			<a href="/membresia.compra/seltipo/3" class="boton-membresias">Crear una cuenta</a>
	   			</div>
	   		</div>
	   		</div>
	</div>
</div>
{% endblock contenido %}

