{% extends "base/template_base.html" %}

{% block title %} Calendario de Citas {% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/eventCalendar_theme.css">  
   
{% endblock extra_css %}

{% block contenido %}
<div class="separador-slider visible-desktop"></div>
	<div class="container">
	    <div class="row">
	    	<div class="span3">
                <div id="cont_perfil">
                    <div id="perfil_info">
                        <div id="img_perfil">
                            <img src=" {{ STATIC_URL }}images/user.png " alt="">
                        </div>
                        <div id="nombre_perfil">
                           {{user.get_full_name}} 
                            <a href="" title="">Editar</a> 
                        </div>
                    </div>
                    <div id="menu_perfil">
                        <ul class="nav nav-tabs nav-stacked">
                            <li><a href=" {% url citas_view %} " class="citas ">Citas</a></li>
                            <li><a href=" {% url calendario_cita %} " class="calendario activo">Calendario de Citas</a></li>
                            <li><a href=" {% url ver_referidos %} " class="membresia">Miembros Adicionales</a></li>
                            <li><a href="#" class="servicio">Servicios Externos</a></li>
                            <li><a href=" {% url actividades_view %} " class="actividad">Actividades</a></li>
                            <li><a href=" {% url menores_edad_view %} " class="menores">Menores de edad</a></li>
                        </ul>   
                    </div>
                </div>
	    	</div>
	        <div class="span9">
                <h1 class="mod-head"><span>Calendario de citas</span></h1>
                <div id="cont_cal">
                    {% if mensaje %}
                       <h3>{{mensaje}}</h3>
                    {% endif %}
                    
                    <div id="cont_cal_plugin">
                    <div id="eventCalendarLocale"></div>
                    </div>

                </div>
	        	
	        </div>
		</div>
	</div>



{% endblock contenido %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/plugins.js" ></script>

<script>
function inicio()
{
    
    var enventInline = {% autoescape off %}{{mijson}}{% endautoescape %};
    
    $("#eventCalendarLocale").eventCalendar({
        jsonData: enventInline,
        monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio","Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
        dayNames: [ 'Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sabado' ],
        dayNamesShort: [ 'Dom','Lun','Mar','Mie', 'Jue','Vie','Sab' ],
        txt_noEvents: "No hay eventos para este periodo",
        txt_SpecificEvents_prev: "",
        txt_SpecificEvents_after: "eventos:",
        txt_next: "siguiente",
        txt_prev: "anterior",
        txt_NextEvents: "Próximos eventos:",
        txt_GoToEventUrl: "Ir al evento"
    });

}

$(document).on("ready",inicio);

</script>
{% endblock extra_js %}