{% extends "base/template_base.html" %}

{% block title %} Citas {% endblock %}

{% block contenido %}
<div class="separador-slider visible-desktop"></div>
	<div class="container">
	    <div class="row">
	    	<div class="span2">
                <div id="cont_perfil">
                    <br><br><br>
                    <div id="perfil_info">
                        <div id="img_perfil">
                            <img src=" {{ STATIC_URL }}images/user.png " alt="">
                        </div>
                        <a href="" title="">Editar</a> 

                        <div id="nombre_perfil">
                           {{user.get_full_name}} 
                        </div>
                    </div>
                    <div id="menu_perfil">
                        <ul class="nav nav-tabs nav-stacked">
                            <li><a href="#" class="">Actividades</a></li>
                            <li><a href="#" class="">Calendario</a></li>
                            <li><a href="#" class="">Servicios</a></li>
                            <li><a href=" {% url citas_view %} " class="">Citas</a></li>
                        </ul>   
                    </div>
                </div>
	    	</div>
	        <div class="span10">
	        	<br><br>
                <div class="row-fluid">
				<div class="span4">
					<h6>Menu Acciones</h6>
				    <form name="frmAccion" id="frmAccion" class="form-inline" action=" {% url accion_cita_view %} " method="post" accept-charset="utf-8">
				        {% csrf_token %}
				        <select name="accion" id="id_accion">
				            <option value="--">Selecciona una acción</option>
				            <option value="del">Eliminar</option>
				            <option value="edit">Modificar</option>
                            <option value="conf">Confirmar</option>
                            <option value="vuelo">Solicitar Info Vuelo</option>
				            <option value="look">Ver información completa</option>
				        </select> 
				        <input type="submit" name="enviar" value="Ejecutar" class="btn" id="btnAccion">
				    </form>
				</div>

				<div class="span4" >
					<h6>Filtar</h6>
					<label for="" class="checkbox">
						<input id="filtros" type="checkbox" name="filtros" ><span>Aplicar Filtros</span>
					</label>

				    <form name="frmFiltros" id="frmFiltros" class="form-inline" action=" {% url get_citas_filtros %} " method="post" accept-charset="utf-8">
				        
				        <div id="con_filtros">
			        	
                        <div class='cont_param radio inline'>
                            Confirmadas     <br>   
                        <label class="radio inline">
                            <input class="check_filtro" name="confirmadas" value="NO" type="radio">No
  						</label>
                        <label class="radio inline">
                            <input class="check_filtro" name="confirmadas" value="SI" type="radio">Si
                        </label>
                        </div>

                        <div class='cont_param radio inline'>
                            Activas     <br>   
                        <label class="radio inline">
                            <input class="check_filtro" name="activas" value="NO" type="radio">No
                        </label>
                        <label class="radio inline">
                            <input class="check_filtro" name="activas" value="SI" type="radio">Si
                        </label>
                        </div>

    					<div class='cont_param radio inline'>
                            Con Info Vuelo     <br>   
                        <label class="radio inline">
                            <input class="check_filtro" name="info_vuelo" value="NO" type="radio">No
                        </label>
                        <label class="radio inline">
                            <input class="check_filtro" name="info_vuelo" value="SI" type="radio">Si
                        </label>
                        </div>
				        </div>
				    </form>
				</div>
	        	  
				<div class="span4">
              	<a class="btn btn-danger pull-right" href=" {% url solicita_citas_view %} ">Solicita una cita</a>
                </div>    
                </div>
           	
             <hr> 
			<table class="table table-hover">
	            <thead>
	                <tr>
	                  <th>
                        <input id="sel_all" type="checkbox" name="citas" value="0">
                      </th>
                       <th>Membresía</th>
                      <th>Usuario</th>
	                  <th>Fecha Cita</th>
	                  <th>Conf 24Access</th>
                      <th>Conf Miembro</th>
	                  <th>Info Avión</th>
	                  <th>Estado</th>
	                  <th>Ver Info</th>
                    </tr>
	            </thead>
	            <tbody id="contenido_tabla">

                {% for c in citas  %}
                <tr>
                	<td>
                        <input class="sel_check" type="checkbox" name="id_cita" value="{{c.id}}" form="frmAccion" >
                	</td>
                	
                    <td>
                     <span>{{c.no_membresia}}</span>   
                    </td>
                    <td>
                        <span>
                            {{c.miembro}}
                        </span>
                    </td>
                    <td>
                        <span>{{c.fecha_cita|date}}</span>
                    </td>
                	<td>
                        {% if c.confirmada %}
                            <span class="confirmada msg_" title="Cita Confirmada">
                                <img src="{{ STATIC_URL }}images/check.png" width="" heigth="" alt="">
                            </span>
                        {% else %}
                            <span class="no_confirmada msg_" title="Cita no confirmada">
                                <img src="{{ STATIC_URL }}images/no_check.png" width="" heigth="" alt="">
                            </span>
                        {% endif %}
                        
                    </td>
                    <td>
                        {% if c.conf_miembro %}
                            <span class="confirmada msg_" title="Ya has confirmado tu cita.">
                                <img src="{{ STATIC_URL }}images/check.png" width="" heigth="" alt="">
                            </span>
                        {% else %}
                            <span class="no_confirmada msg_" title="No has confirmado tu cita">
                                <img src="{{ STATIC_URL }}images/no_check.png" width="" heigth="" alt="">
                            </span>
                        {% endif %}
                        
                    </td>
                	<td>
                		{% if c.vuelos %}
                			<span class='msg_'  title="Informacion de vuelo Confirmada" >
                				<a class='vuelo_info'  href="{% url add_vuelo c.id %}" >Confirmada</a>
                			</span>
                		{% else %}
                			<span class="msg_" title="Por favor ingrese la información del vuelo.">
                				<a   class="info_avion_add vuelo_info" href="{% url add_vuelo c.id %}">Sin ingresar</a>
                			</span>
                		{% endif %}
                	</td>
                	<td>
                		{% if c.estado %}
            				<span class="confirmada msg_" title="Cita Activa">
            					<img  class="msg_" src="{{ STATIC_URL }}images/check.png" width="" heigth="" alt="">
            				</span>
            			{% else %}
							<span title="Cita inactiva o cancelada" class="no_confirmada msg_">
            					<img    src="{{ STATIC_URL }}images/no_check.png" width="" heigth="" alt="">
            				</span>
                		{% endif %}
                	</td>
            		 <td>
					 	<a href=" {% url ver_una_cita c.id %} "><img src="{{ STATIC_URL }}images/search.png " alt=""></a>
            		 </td>
			    </tr>
	        
	        	{% endfor %}
	            </tbody>
            </table>

	        	
	        </div>
		</div>
	</div>
</div>


{% endblock contenido %}

{% block extra_js %}
<script>
function accion_btn(e)
{
    e.preventDefault();
    var frmEnvio = $("#frmAccion");
    var numSel = $(".sel_check:checked").length;
    if(numSel < 1 )
    {
        alert("Selecciona una cita por favor.");
        return false;
    }
    var valor = $("#id_accion").val();
    switch(valor){
        case 'del':
            var flag = confirm("¿Seguro que quiere elminiar estas solicitudes de citas?");
            if( flag  ){
                frmEnvio.submit(); 
            }else{
                return false;
            }            
            break;
        case 'edit':
            if (numSel > 1){
                alert("No puedes editar mas de una cita a la vez. Seleeciona solo una.");
                return false;
            }else{
               frmEnvio.submit(); 
            }
            break;
        case 'look':
                frmEnvio.submit(); 
            break;
        case 'conf':
            if (numSel > 1){
                alert("No puedes confirmar mas de una cita a la vez. Selecione solo una.");
                return false;
            }else{
                frmEnvio.submit();
            }
          break;
        case 'vuelo':
          frmEnvio.submit();
          break;
        case '--':
                alert('Seleccione una acción por favor.');
            break;
        default:
            break; 
    }
}
function selectAll()
{
    $(".sel_check").attr("checked",this.checked);
}
function filtros()
{
	var flag = this.checked;
	var divFiltros = $("#con_filtros");
	
	if (flag == true){
		$(".check_filtro").attr("checked",false);
		divFiltros.fadeIn();
	}else{
		divFiltros.fadeOut();
        $("#contenido_tabla").load('/citas.filtros/all');
	}
}
function get_citas_ajax()
{
    var miUrl = $("#frmFiltros").attr("action");
    var token = "{{csrf_token}}";
    var conf = $("input:radio[name='confirmadas']:checked").val();
    var canc = $("input:radio[name='activas']:checked").val();
    var vuel = $("input:radio[name='info_vuelo']:checked").val();

    console.log(conf + " " + canc + " " + vuel + " " +miUrl);
    $("#contenido_tabla").load("/citas.filtros/",{'confirmadas':conf,'activas':canc,'info_vuelo':vuel,'csrfmiddlewaretoken':token});
}
function inicio()
{
    var texto = "";
    $('.msg_').tooltip();
    $("#btnAccion").on("click", accion_btn);
    $("#sel_all").on("click",selectAll);
    
    $('.vuelo_info').on("mouseenter",function(){
        texto = $(this).text();
        $(this).text("Editar");
    }).on("mouseleave",function(){
        $(this).text(texto);
    });

    $("#filtros").on("click",filtros);

    $(".check_filtro").on("click",get_citas_ajax);
}

$(document).on("ready",inicio);

</script>
{% endblock extra_js %}