{% for c in citas  %}
    <tr>
    	<td>
            <input class="sel_check" type="checkbox" name="id_cita" value="{{c.id}}" form="frmAccion" >
    	</td>
        <td>
         <span>{{c.no_membresia}}</span>   
        </td>
        <td>
            <span>
                {{c.miembro}}
            </span>
        </td>
    	<td>
    		<span>{{c.fecha_cita|date}}</span>
    	</td>
    	<td>
    		{% if c.confirmada %}
				<span class="confirmada msg_" title="Cita Confirmada">
					<img src="{{ STATIC_URL }}images/check.png" width="" heigth="" alt="">
				</span>
			{% else %}
				<span class="no_confirmada msg_" title="Cita no confirmada">
					<img src="{{ STATIC_URL }}images/no_check.png" width="" heigth="" alt="">
				</span>
    		{% endif %}
    	</td>
    	<td>
    		{% if c.info_vuelo %}
    			<span class='msg_'  title="{{ c.info_vuelo }} " >
    				<a class='vuelo_info'  href="{% url edita_vuelo c.id %}" >Confirmada</a>
    			</span>
    		{% else %}
    			<span class="msg_" title="Por favor ingrese la información del vuelo.">
    				<a   class="info_avion_add vuelo_info" href="{% url edita_vuelo c.id %}">Sin ingresar</a>
    			</span>
    		{% endif %}
    	</td>
    	<td>
    		{% if c.estado %}
				<span class="confirmada msg_" title="Cita Activa">
					<img  class="msg_" src="{{ STATIC_URL }}images/check.png" width="" heigth="" alt="">
				</span>
			{% else %}
				<span title="Cita inactiva o cancelada" class="no_confirmada msg_">
					<img    src="{{ STATIC_URL }}images/no_check.png" width="" heigth="" alt="">
				</span>
    		{% endif %}
    	</td>
		 <td>
		 	<a href=" {% url ver_una_cita c.id %} "><img src="{{ STATIC_URL }}images/search.png " alt=""></a>
		 </td>
    </tr>
{% endfor %}
